<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<title>flask-singleview</title>
		<meta name="description" content="">
		<meta name="author" content="">
	</head>

	<body>
		<ul>
			<li><a href="##">home</a></li>
			<li><a href="##1">1</a></li>
			<li><a href="##2">2</a></li>
			<li><a href="##3/pipskweak">3</a></li>
		</ul>

		<div id="singleview-content">
			{% if preload_content is defined %}
				{% autoescape false %}
					{{ preload_content }}
				{% endautoescape %}
			{% endif %}
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		{% if content_method == 'ajax' %}
			<script type="text/javascript" src="{{url_for('static', filename='singleview_ajax.min.js')}}"></script>
		{% elif content_method == 'socketio' %}
			<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
			<script type="text/javascript" src="{{url_for('static', filename='singleview_socketio.min.js')}}"></script>
		{% endif %}
	</body>
</html>
